/* 스크롤바 숨기기 */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  min-height: 100vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.overviewImage {
  margin: 0 0 0 10em;
  max-width: 30em;
}
.overviewText {
  text-align: center;
  color: hsl(0, 23%, 95%);
  font-weight: 800;
  padding: 0 0 3em 0;
}
.section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(0px);
  transition:
    opacity 0.9s ease-out,
    transform 0.9s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.vision-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mobile-toc {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 0.2rem;
  transform: translateY(-50%);
  z-index: 1000;
}

.mobile-toc button {
  background: none;
  border: none;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
  /* border-radius: 50%; */
  background-color: #d8e8f9;
  cursor: pointer;
}
.mobile-toc button.active {
  background-color: #7f8386;
}
/* 모바일 대응 */
@media (max-width: 1200px) {
}
