.nav {
  background: #fbfbfb;
  padding: 1em;
}
.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul li {
  margin-right: 1em;
  align-content: center;
}
.a {
  color: #467fcf;
  text-decoration: none;
}
