html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 0;
  box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
}

@media (max-width: 768px) {
  .container {
    padding: 0px; /* 태블릿 및 모바일에서 좀 더 적은 패딩 */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0px; /* 작은 모바일 화면에서 더 적은 패딩 */
  }
}
